html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #333333;
  color: white;
  padding: 0 30px;
  box-sizing: border-box;
}

.block {
  text-align: center;
  background: #cccccc;
  border-radius: 3px;
  padding: 3%;
  color: black;
  margin: 2% auto;
  width: 500px;
}
.block > h2 {
  text-align: center;
}

button {
  background: #f2f2f2;
  color: #1a1a1a;
  font-weight: bold;
  margin: 0 5px 0 5px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  height: 40px;
  padding-bottom: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 600px;
  height: fit-content;
}

input.add {
  width: 350px;
  height: 40px;
  font-size: 1.2em;
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  margin: 0;
  padding: 0 0 0 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.completed {
  text-decoration: line-through;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 55px;
  margin-bottom: 5px;
  border-bottom: 2px solid #f2f2f2;
}

.taskdone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 55px;
  background-color: #333333;
  border-radius: 5px;
  margin-bottom: 5px;
}

p {
  vertical-align: middle;
}

input.check {
  height: 25px;
  width: 25px;
  margin: 0 15px 0 10px;
}

.left {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

fieldset {
  margin-bottom: 15px;
  border-radius: 5px;
  color: #f2f2f2;
  height: fit-content;
}

.inputflex {
  height: 60px;
  display: flex;
  justify-content: space-around;
}

.inputnonvis {
  background-color: transparent;
  border: none;
  font-size: 1em;
  color: #f2f2f2;
}
